<div>
    <h2 class="derecho">Derechos Al Realizar Practicas PreProfesionales</h2>
    <br>
    <h4>¿Cuáles son los derechos de los/as practicantes preprofesionales?</h4>
    <br>
    <p>Descansos semanales y en días feriados debidamente subvencionados.
      Refrigerio. Tienen derecho como minimo a 45 minutos de refrigerio, salvo que el centro de prácticas
      ofrezca más a sus trabajadores. Los 45 minutos están fuera de sujornada.
      Descanso de quince dias debidamente subvencionados cuando la duración sea superior a 12 meses.
      Una subvención adicional equivalente a media subvención económica mensual cada seis meses de
      duración continúa de la modalidad formativa. No es aplicable para prácticas en el sector público.
      Tener cubiertos los riesgos de enfermedad y accidentes a través de EsSalud o de un seguro privado
      equivalente a 14 subvenciones mensuales en caso de enfermedad y 30 por accidente.
      Cumplir la jornada de 6 horas diarias como máximo o 30 horas semanales.
    </p>
  </div>
