<!-- <md-card *ngIf="sol">

</md-card>
<input type="text" #textId>
<button (click)="getSolicitudById(textId.value)">Get user</button>

<hr>

<ng-container *ngIf="notFound">
  User not found
</ng-container>

<ng-container *ngIf="solicitud">
  <div>
    Id: {{ solicitud.estado_solicitud }}
  </div>

  <div>
    Name: {{ solicitud.estado }}
  </div>

  <div>
    Username: {{ user.username }}
  </div> -->
<!-- </ng-container> -->



<embed src="../../../../../assets/docs/INFORME DE VIDEOS.pdf" type="application/pdf" width="250px" height="350px">


<button class="btn btn-info" [routerLink]="['/secretaria']">Regresar</button>
