<div class="row content-body">
    <div class="col-12 position-fixed">
        <img class="img-upeu" src="../../../assets/img/3.png" alt="">
    </div>
    <div class="row d-flex contentt-target mt-4">
    <div class="col-md-3 mt-2 card-link-container" [routerLink]="['/coordinador']">
        <div class="target d-blok">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img class="img-ico" src="../../../assets/img/icon2.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <h2>PORTAL DEL COORDINADOR</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 card-link-container" [routerLink]="['#']">
        <div class="target d-blok">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img class="img-ico" src="../../../assets/img/icon3.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <h2>PORTAL DEL EVALUADOR</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 card-link-container" [routerLink]="['/secretaria']">
        <div class="target d-blok">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img class="img-ico" src="../../../assets/img/icon1.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <h2>PORTAL DE SECRETARIA</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-2 card-link-container" [routerLink]="['/estudiante']">
        <div class="target d-blok">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img class="img-ico" src="../../../assets/img/icon5.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <h2>PORTAL DEL ESTUDIANTE</h2>
                </div>
            </div>
        </div>
    </div>
</div>
</div>