<table class="table table-striped table-hover">
    <thead>
    <tr>
    <th scope="col" class="text-center border">Alumno</th>
    <th scope="col" class="text-center border">Codigo de alumno</th>
    <th scope="col" class="text-center border">Ciclo</th>
    <th scope="col" class="text-center border">Empresa</th>
    <th scope="col" class="text-center border">Estado</th>
    <th scope="col" class="text-center border">Carta de presenetación</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    </table>