<div class="row">
    <div class="col-12 col-md-12 d-block">
        <div class="d-flex justify-content-start">
        <div class="col-5 col-md-5 d-inline div-section d-flex align-item-center align-content-center"><h2 class="mt-1"><i class="fa-solid fa-file-contract"></i><b>  CLINICA AMERICANA </b></h2></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 d-block">
        <img class="imagen-con" src="../../assets/img/ClinicaA.jpg" alt="ClinicaA">
    </div>
    <div class="col-md-6">
        <p class="introduccion-convenios">Se requiere con urgencia practicantes en la linea de Ingenieria de Sofware, esto de forma presecial como remota</p>
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-12">
                <h2 class="text-center">Periodo</h2>
            </div>
        </div>
        <div class="row">
            <div class="periodo col-sm col-md-5 mx-4 text-center"><b>20-07-2022 </b> </div>
            <div class="periodo col-sm col-md-5 text-center"><b> 08-08-2022</b> </div>
        </div>
        <div class="row d-flex justify-content-center mt-2">
            <div class="col-md-12">
                <h2 class="text-center">Cupos diponibles</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="d-flex cupos col-sm col-md-3 mx-4 text-center align-content-center justify-content-center"><b> 08 </b> </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6 mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3844.7533810955783!2d-70.13463498556042!3d-15.497692119854788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9167f3ef96c1986d%3A0x262a4cb551e82b42!2sCl%C3%ADnica%20Americana%20de%20Juliaca!5e0!3m2!1ses!2spe!4v1657290561629!5m2!1ses!2spe" width="100%" height="100%" style="border: 0;"></iframe>
    </div>
    <div class="col-md-6">
        <div class="row valores1 text-center">
            <h2>Visión</h2>
            <p>Para el periodo 2021 al 2023 ser una institución acreditada y líder en la región, brindando una atención de salud integral y humanizada, extendiendo el ministerio de Cristo.</p>
        </div>
        <div class="row valores2 text-center">
            <h2>Mision</h2>
            <p>Brindar servicios de salud con excelencia, cuidando la salud integral de las personas, reflejando el carácter de Cristo.</p>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12 d-flex justify-content-center align-content-center">
        <button class="btn btn-dark" href="https://www.clinicaamericana.org.pe/"><b>Pagina Web</b></button>
    </div>
</div>




<div class="row mt-5 empresas-post">
    <div class="col-12 col-md-12 d-block">
        <div class="d-flex justify-content-start">
        <div class="col-5 col-md-5 d-inline div-section d-flex align-item-center align-content-center"><h2 class="mt-1"><i class="fa-solid fa-file-contract"></i><b>  UGEL SAN ROMAN</b></h2></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 d-block">
        <img class="imagen-con" src="../../assets/img/ugel.jpg" alt="ClinicaA">
    </div>
    <div class="col-md-6">
        <p class="introduccion-convenios">Se requiere practicantes en la linea de Redes Informaticasy Telecomunicaciones, esto de forma presecial con flexibilidad de horarios.</p>
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-12">
                <h2 class="text-center">Periodo</h2>
            </div>
        </div>
        <div class="row">
            <div class="periodo col-sm col-md-6 mx-4 text-center"><b>14-07-2022 </b> </div>
            <div class="periodo col-sm col-md-6 text-center"><b> 20-08-2022</b> </div>
        </div>
        <div class="row d-flex justify-content-center mt-2">
            <div class="col-md-12">
                <h2 class="text-center">Cupos diponibles</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="d-flex cupos col-sm col-md-3 mx-4 text-center align-content-center justify-content-center"><b> 04 </b> </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6 mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3844.9358328425774!2d-70.15484948556053!3d-15.487883319615676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9167f1674a74e505%3A0x45cbadb14af6e6b!2sUGEL%20SAN%20ROM%C3%81N%20-%20JULIACA!5e0!3m2!1ses!2spe!4v1657300869114!5m2!1ses!2spe" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-6">
        <div class="row valores1 text-center">
            <h2>Visión</h2>
            <p>Al año 2021 la UGEL , las instituciones educativas y la sociedad de la Provincia de San Román serán actores principales de una educación prospectiva, emprendedora, transformadora basada en la investigación científica, tecnológica y productiva en valores, formando ciudadanos plenos y saludables desde la identidad cultural andina para la vida intercultural, con respeto al ambiente urbano y rural . Con procesos de gestión de calidad y administración transparente, eficiente y eficaz.</p>
        </div>
        <div class="row valores2 text-center">
            <h2>Mision</h2>
            <p>La Unidad de Gestión Educativa Local, las Instituciones Educativas y la sociedad organizada de la Provincia de San Román, están al servicio de la formación integral de los estudiantes.</p>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12 d-flex justify-content-center align-content-center">
        <button class="btn btn-dark" href="https://ugelsanroman.gob.pe/"><b>Pagina Web</b></button>
    </div>
</div>


