<div>
    <h2 class="negrita">Requisitos</h2>
    <br>
      <p class="lineal">
        - Foto personal actual con las siguientes caracteristicas: tamaño pasaporte, no porosa, sin marco, de
      frente, sin lentes, a color con fondo blanco, sin retoques, sin sonreir, con el rostro y las orejas
      descubiertas y sin prendas en la cabeza, salvo religiosas. Si la Oficina de Atención cuenta con registro
      digital del trámite (Captura en Vivo) se te hará una toma gratuita de la foto. <br>
      - Constancia de aprobación de cursos. <br>
      - Estar en VI ciclo en adelante.
      </p>
  </div>
