<div class="container">
    <div class="img">
        <img src="../../../../../assets/img/landing-page.png">
    </div>
    <div class="login-content">
        <form action="index.html">
            <img src="../../../../../assets/img/LOGO-UPEU-A.png">
            <div class="mb-3"></div>
            <h2 class="title my-5">Bienvenido</h2>
               <div class="input-div one">
                  <div class="i">
                          <i class="fas fa-user"></i>
                  </div>
                  <div class="div">
                          <h5>Usuario</h5>
                          <input type="text" class="input">
                  </div>
               </div>
               <div class="input-div pass">
                  <div class="i"> 
                       <i class="fas fa-lock"></i>
                  </div>
                  <div class="div">
                       <h5>Contraseña</h5>
                       <input type="password" class="input">
               </div>
            </div>
            <a href="#">Olvido su contraseña?</a>
            <input type="submit" class="btn1" value="Login">
        </form>
    </div>
</div>
