<div>
    <h2>Otros</h2>
    <br>
    <p>
      Estimado usuario, al registrar la solicitud a través del Formulario Virtual Electrónico, es importante tener en
      consideración los aspectos que se describen a continuación; asimismo con la finalidad de efectuar las
      coordinaciones pertinentes, se recomienda consignar un número de teléfono y/o correo electrónico. </p> <br>
    <p>
      a) Horario de presentación
      La recepción de solicitudes se realiza en el horario de mesa de partes a nivel nacional (lunes a viernes de
      08:30 a.m. hasta las 04:30 p.m.; pasado este horario o en dias distintos, la solicitud será ingresada, pero
      se tendrá por presentada a partir del día hábil siguiente. <br>
      b)Plazos de atención
      El plazo de atención es de diez (10) dias hábiles. Cuando sea materialmente imposible cumplir con el plazo
      antes señialado, por única vez la entidad comunicará al solicitante la fecha en que se proporcionará la
      información solicitada de forma debidamente fundamentada, en un plazo de dos (2) dias hábiles de
      recibido el pedido de información. <br>
      c) Descripción de la solicitud
      El pedido de información debe ser concreto y preciso, así como cualquier otro dato que propicie la
      localización o facilite la búsqueda de la información solicitada. No es necesario exponer los motivos que
      sustentan el requerimiento.
      La solicitud no implica la obligación de las entidades de la Administración Pública de crear o producir
      (evaluar o analizar) información con la que no tenga la obligación de contar en dicho momento. <br>
      d) Subsanación de requisitos
      La solicitud que no cumpla con los requisitos (nombres, apellidos completos, número de documento de
      identidad, domicilio, expresión concreta y precisa del pedido u otro dato que facilite la búsqueda, huella o
      firma si se presenta en ventanilla) puede ser subsanada dentro de los dos dias hábiles de comunicada la
      observación. <br>
      e) Consultas
      Las consultas adicionales pueden formularse de lunesa viernes, de 08:30 a.m. a 04:30 p.m. a través del
      teléfono O1-3115930 anexo 2090 y/o el correo electrónico: secretaria@upeu.edu.pe
    </p>
    
  </div>
