<div>
    <h2 class="negrita">Responsabilidades Del Practicante</h2>
    <br>
    <p>Durante la práctica, el estudiante se compromete a cumplir-a cabalidad y con excelencia con todos los
      requisitos establecidos por la entidad cooperadora y por su supervisor directo en el Centro de Práctica.
      Estos requisitos pueden incluir, aunque no se limitan a, los siguientes:
      Asistir puntualmente a su Centro de Práctica y, de no ser posible, informar con anticipación a su
      supervisor inmediato
      .Observar las reglas de seguridad en el trabajo
      .Realizar las tareas que le sean asignadas con eficiencia y responsabilidad
      Aplicar sus conocimientos y habilidades al servicio de la entidad que sirve como Centro de Práctica
      Utilizar adecuadamente el equipo, herramientas, instrumentación, materiales, etc. que pueda ofrecer la
      entidad cooperadora y mantenerlos en buenas condiciones
      Entregar diligentemente los informes que sean requeridos
      Consultar con el supervisor inmediato y con el Coordinador de Práctica COOP en Biología, antes de
      tomar la decisión de abandonar la práctica, de ser necesario.
      El estudiante practicante también se compromete a dejarse regir por las normas establecidas por el
      Coordinador de Práctica
    </p>

    <br>
    <br>
    <h2 class="negrita">Responsabilidades Del Recinto Universitario</h2>
    <br>
    <p>Por su parte, el Coordinador de Práctica COOP en Biologia, en representación del RUM, se compromete a
      evaluar justamente las solicitudes de práctica y autorizar la matrícula en casos que cualifiquen, por un
      valor de créditos que corresponda a la naturaleza y extensión de la práctica; a mantener contacto con los
      estudiantes matriculados en Práctica COOP, facilitándoles la información, formularios y fechas liímites que
      les permitan cumplir organizadamente con todo aquello que sea requerido para la nota; y a adjudicar notas
      que reflejen el desempeño de cada estudiante durante su práctica, tomando en cuenta la evaluación del
      supervisor directo en el Centro de Práctica.
    </p>
</div>
